extends layout

block content
    .container
        h1 About Us
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.consectetur adipisicing 
        tempor incididunt ut labore et dolore magna aliqua.
        ul
            li  ut labore et
            li  ut labore et
            li  ut labore et
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.consectetur adipisicing 
        tempor incididunt ut labore et dolore magna aliqua.  consectetur adipisici 
        incididunt ut labore et dolore magna aliqua.consectetur adipisicing tempor
        incididunt ut labore et dolore magna aliqua.    
           

           